<!DOCTYPE HTML>
<html lang="pt-br">
<head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../src/style.css" />
</head>
<body class="header-background">
    <header>
        <img src="../images/logo/logo-transparente.png" alt="Logo" width="150vw" />
        <span class="slogan">A sofisticação e o conforto ideal. Vem ser Grand, vem ser Royal!</span>
        <span class="olaUsuario">Olá Usuario</span>
        <li class="header-sair"><a href="../index.html" target="_parent">Sair</a></li>
    </header>

</body>
</html>