<!DOCTYPE HTML>
<html lang="pt-br">
<head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../src/style.css" />
</head>
<body class="header-background">
    <header>
        <img class="logo" src="../images/logo/logo-transparente -beje.png" alt="Logo" width="150vw" />
        <span class="slogan">A sofisticação e o conforto ideal. Vem ser Grand, vem ser Royal!</span>
        <span class="olaUsuario">Olá Usuario</span>
        <li ><a class="header-sair" href="../pages/login.html" target="_parent">Sair</a></li>
        <nav class="header-cadastro">Cadastre-se</nav>
    </header>
</body>
</html>