<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar_up</title>
    <link rel="stylesheet" type="text/css" href="../src/style.css" />
</head>
<body>
    <div id="menu">
        <ul>
            <li><a href="../pages/home.html" target="_parent">Home</a></li>
            <li><a href="../pages/sobre.html" target="_parent">Sobre</a></li>
            <li><a href="../pages/acomodacoes.html" target="_parent">Acomodações</a></li>
            <li><a href="../pages/reservas.html" target="_parent">Reservas</a></li>
            <li><a href="../pages/contatos.html" target="_parent">Contato</a></li>
        </ul>       
    </div>
</body>
</html>