@use "../variaveis" as v;
@use "../mixins" as mx;
@use "mixins_lp" as mxlp;

html {
    scroll-behavior: smooth;
}

.secoes {
    padding: 2rem;
    min-height: 100vh;
}

.btn {
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin: 1rem 0;
    background: v.$cor-azul-escuro;

    & a {
        text-decoration: none;
        display: block;
        padding: 1rem 1.5rem;
        color: v.$cor-bege;

        &:hover {
            color: v.$cor-azul-escuro;
        }
    }

    &:hover, :hover a {
        
        background: v.$cor-bege;
    }

}


.oferta {
    line-height: 2rem;
    align-items: flex-start;
    position: relative;
    display: flex;
    flex-direction: row;

    &__descricao {
        margin: 0 50px 4em 0;
        width: calc(70% - 50px);
        box-sizing: border-box;
    
        &__titulo {
            font: v.$fonte-quando;
            font-size: 2.5rem;
            font-weight: 400;
            letter-spacing: 0;
        }

        &__texto {
            font: v.$fonte-quiscksand;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        &__botao {
            display: inline-block;
        }

        &__slogan {
            position: absolute;
            bottom: 0;
            font-weight: bold;
            font-size: 1.5rem;
            background: linear-gradient(to right, v.$cor-azul-escuro 20%, v.$cor-dourado-medio 40%, v.$cor-bege 60%, v.$cor-azul-escuro 80%);
            background-size: 200% auto;
            color: #000;
            -webkit-background-clip:text;
            -webkit-text-fill-color:transparent;
            animation: animacaoSlogan 6s linear infinite;
        }
    }

    &__video {
        width: 30%;
        height: auto;
        display: inline;

        & video {
            border-radius: 12px;
            width: 100%;
            object-fit: cover;
        }
    }
}

@keyframes animacaoSlogan {
    to {
        background-position: 200% center;
    }
}

@media (max-width: 1170px) {
    .oferta {
        flex-direction: column;
        min-width: 100%;

        &__descricao {
            width: 100%;

            &__botao {
                display: flex;
                justify-content: flex-end;
            }
            &__slogan {
            position: relative;
            text-align: right;
            }
        }
    
        &__video {
            width: 100%;
        }
    }
}

.social-media {
    @include mx.box;
    @include mx.flex-center;
    flex-wrap: wrap;
}
.social-media__card{
    width:28%;
    display:grid;
    margin-right: 0.6rem;
    margin-bottom:v.$mx1;
    box-shadow:6px 6px 6px 6px;
    height: 320px;
    border: 0.6px solid rgb(165, 161, 161);
}
.social-media__titulo{
    font: v.$fonte-quiscksand;
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
}
h2{
    font-size: quiscksand;
    padding-right: 2px;
    text-align: center;
}
