@charset "UTF-8";
#card1 {
  background-image: url(/images/acomodacoes/acomodacoes-presidencial-1.png);
  background-size: cover;
  background-position: center;
}
#card1 h2::before {
  content: "Quarto 1 Presidencial";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

#card2 {
  background-image: url(/images/acomodacoes/acomodacoes-presidencial-2.png);
  background-size: cover;
  background-position: center;
}
#card2 h2::before {
  content: "Quarto 2 Presidencial";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

#card3 {
  background-image: url(/images/acomodacoes/acomodacoes-presidencial-3.png);
  background-size: cover;
  background-position: center;
}
#card3 h2::before {
  content: "Quarto 3 Presidencial";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

#card4 {
  background-image: url(/images/acomodacoes/acomodacoes-luxo-1.png);
  background-size: cover;
  background-position: center;
}
#card4 h2::before {
  content: "Quarto 1 Luxo";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

#card5 {
  background-image: url(/images/acomodacoes/acomodacoes-luxo-2.png);
  background-size: cover;
  background-position: center;
}
#card5 h2::before {
  content: "Quarto 2 Luxo";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

#card6 {
  background-image: url(/images/acomodacoes/acomodacoes-luxo-3.png);
  background-size: cover;
  background-position: center;
}
#card6 h2::before {
  content: "Quarto 3 Luxo";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

#card7 {
  background-image: url(/images/acomodacoes/acomodacoes-standard-1.png);
  background-size: cover;
  background-position: center;
}
#card7 h2::before {
  content: "Quarto 1 Standard";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

#card8 {
  background-image: url(/images/acomodacoes/acomodacoes-standard-2.png);
  background-size: cover;
  background-position: center;
}
#card8 h2::before {
  content: "Quarto 2 Standard";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

#card9 {
  background-image: url(/images/acomodacoes/acomodacoes-standard-3.png);
  background-size: cover;
  background-position: center;
}
#card9 h2::before {
  content: "Quarto 3 Standard";
  display: block;
  background-color: rgba(33, 50, 66, 0.4);
  color: #e1c888;
  font: "Quicksand";
  text-align: center;
  padding-top: 0;
  margin-top: 20rem;
}

.border0 {
  border: 5px solid red;
}

.list-style {
  list-style: none;
}

.header--container {
  background-image: url(../../images/background/background-1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #e1c888;
  text-shadow: 1px 1px 1px rgba(1, 1, 8, 0.6);
}

.header--container2 {
  width: 70%;
}
.header--container2-container {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.header--container2-item {
  padding: 1rem;
}
.header--container2-link {
  color: #e1c888;
}

.alinhamento {
  justify-content: flex-start;
  text-align: start;
}

.esconder {
  display: none;
}

.centralizar {
  text-align: center;
  align-items: center;
}

.p-top {
  padding: 1rem 0 0 0;
}

.imagem-padrao {
  margin: 1.5rem;
  width: 90%;
}

.margem-padrao {
  margin: 1rem 1rem;
}

.link-pequeno {
  font: "Quicksand";
  color: #213242;
  text-decoration: none;
}

.btn-primario {
  width: 20vh;
  height: 6vh;
  border: 1px solid #e1c888;
  border-radius: 30px;
  background-color: #e1c888;
  box-shadow: 3px 3px 5px #b3b3b4;
}

.btn-padrao {
  background-color: #213242;
  border: none;
  box-shadow: 3px 1px 8px white inset;
  border-radius: 20px;
  width: 30%;
  height: 3rem;
  margin: 1rem 1rem;
}

.btn-texto {
  color: white;
  font: "Quicksand";
  text-align: center;
  font-size: 1vw;
}

.borda-padrao {
  margin: 3rem;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 1px 3px 5px #213242;
}
.borda-padrao:hover {
  box-shadow: 1px 4px 10px #213242;
}

.borda-primaria {
  margin: 5vw 30vw;
  border-radius: 15px;
  box-shadow: 1px 3px 5px #213242;
}
.borda-primaria:hover {
  box-shadow: 1px 4px 10px #213242;
}

.box-padrao {
  background-color: rgba(225, 200, 136, 0.7);
  width: 52%;
  padding: 3%;
  margin-left: 1.8rem;
  text-align: start;
}

.display-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.flex-wrap {
  display: block;
  flex-wrap: wrap;
}

.input-padrao {
  border: white solid 1px;
  margin: 1rem;
  width: 22vw;
  height: 2.5rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 3px 5px #213242;
}

.margin-padrao {
  padding: 0.5rem;
}

.margin-left {
  margin: 0 0.5rem;
}

.link-padrao {
  padding: 0 1.5rem;
  text-align: start;
  color: #213242;
  font: "Quicksand";
  text-decoration: none;
}
.link-padrao:hover {
  color: #cf9903;
}

.header--logo {
  background: url(../../images/logo/logo--bege.png) no-repeat transparent;
  background-size: 100%;
  width: 100px;
  height: 100px;
  padding: 0 0 0 0;
  margin: 20px;
  font: "Quicksand";
  letter-spacing: 0;
}

.home--large-img {
  padding-left: 0.5rem;
}

.home--large-img span {
  font-size: 2rem;
}

.home--fit-img {
  width: 400px;
  height: 300px;
  border: 1px solid #213242;
  border-radius: 30px;
}

.global-bg-azul {
  background-color: #213242;
}

.color--bege {
  color: #e1c888 !important;
}

.nav-link {
  color: #e1c888;
}
.nav-link:hover {
  color: #cf9903;
}

/*---------------
* RESERVAS
*---------------
*/
.resumo-reserva {
  height: 35rem;
  padding: 15vh 5vh 15vh 5vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*---------------
* ACOMODAÇÕES
*---------------
*/
.h2-primario {
  padding: 0 1.5rem;
  text-align: start;
  color: #213242;
  font: "Quicksand";
}

.p-primario {
  padding: 0 1.5rem;
  text-align: start;
  color: #213242;
  font: "Quicksand";
}

.p-secundario {
  padding: 3rem 1.5rem 0 1.5rem;
  color: #213242;
  font: "Quicksand";
}

.h2-secundario {
  padding: 1rem;
  text-align: start;
  color: #cf9903;
  font: "Quicksand";
}

.h3-primario {
  padding: 0 1.5rem;
  text-align: start;
  color: #213242;
  font: "Quicksand";
}

.h3-secundario {
  padding: 1rem;
  text-align: start;
  color: #cf9903;
  font: "Quicksand";
  color: #cf9903;
}

.acomodacoes {
  min-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
}
.acomodacoes--card {
  width: 30%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  height: 50%;
  border: 1px solid white;
  border-radius: 30px;
  box-shadow: 8px 8px 10px #213242;
  height: 60vh;
}
.acomodacoes--card:hover {
  box-shadow: 8px 8px 10px #3c5a74;
}

@media (max-width: 1170px) {
  .acomodacoes,
.acomodacoes--card {
    flex-flow: column;
    min-width: 90%;
  }
}
/*HOME*/
.home--banner {
  background-image: url(../../images/background/background-8.png);
  background-size: 100%;
  height: 30rem;
  background-repeat: no-repeat;
}

.home--sobre {
  min-width: 1170px;
  margin: 0 auto;
  padding: 1.5rem 0;
  width: 90%;
  position: relative;
}
.home--sobre-flex {
  display: flex;
  justify-content: space-evenly;
}
.home--sobre-fit-img {
  width: 30vw;
  margin: 0 0.5rem;
  padding-left: 1rem;
}
.home--sobre-txt {
  padding: 0 1.5rem;
}
.home--sobre-texto-longo {
  font-size: 1.6rem;
}

.home--gastronomia {
  display: inline-block;
}
.home--gastronomia-texto {
  margin-right: 1.5rem;
  float: left;
  font-size: 1.3rem;
}
.home--gastronomia-img {
  margin-left: 200px;
  float: right;
  width: 600px;
  height: 500px;
}

@media (max-width: 1170px) {
  .home--sobre {
    min-width: 768px;
    width: 95%;
  }
  .home--sobre-flex {
    flex-flow: column;
  }
  .home--sobre-img {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .home--sobre-fit-img {
    width: 50%;
  }
  .home--sobre-txt {
    padding: 0 0.5rem;
    padding-top: 1rem;
  }
}
@media (max-width: 1170px) {
  .display-grid {
    display: inline-block;
  }
  .resumo-reserva {
    display: inline-block;
    width: 80%;
    height: 35rem;
  }
  .btn-padrao {
    width: 80%;
  }
  .btn-beje {
    width: 20vh;
    height: 6vh;
    border: 1px solid #e1c888;
    border-radius: 30px;
    background-color: #e1c888;
    box-shadow: 3px 3px 5px #b3b3b4;
  }
  .btn-texto {
    font-size: larger;
  }
}

/*# sourceMappingURL=style.css.map */
