
/* Import da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Quando');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Componentes Globais */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Quando';
}

html {
    background-image: linear-gradient(109.6deg, #FCF7EA 11.2%, #E1C888 91.2%);
    /*background-repeat: no-repeat;*/
    height: 100%;
    width: 100%;
}

body {
    color: black;
    overflow: auto;
    padding: 0em;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

}

main{
    padding: 10em;
}

h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.767);
    padding-bottom: 5px;
}

p {
    color: rgb(0, 0, 0);
    padding-bottom: 1em;
    font-size: 20px;
}


/* Classes Específicas- Home */

.texto-longo{
    font-family: Quicksand;
    font-size: larger;
    color: #000;

}

.acomodacoes-painel {
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 5%;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    border: 0;
    align-self: center;
    align-items: center;
}

.acomodacoes {
    margin: 0;
    border-radius: 0;
    border: 0;
}

.imagem-link{
    padding-left: 20em;
}

.nossos-servicos {
    border: #000 1px;
}