/* LOGIN */
body.bodyLogin {
    width: 80%;
    margin: auto;
    border: 1px solid #000;
    /* font-family:  */
}
div.logo {
    width: 6vw;
    min-width: 3vw;
    padding: 1vw;
    margin: 0 0 0 2vw;
}
div.logo img {
    width: 100%;
}
div.slogan {
    width: 100%;
    text-align: center;
    padding: 1vw;
    margin: 0 0 0 2vw;
    font-size: large;
}
article.articleLogin {
    width: 80%;
    margin: 5vh auto;
}
article.articleLogin h1 {
    margin-top: 5vh;
    margin-left: 2vw;
}
article.articleLogin ul {
    list-style: none;
}
article.articleLogin ul li input {
    height: 3vh;;
}
input.articleLoginButton {
    margin: 4vh 0;
    height: 5vh;;
}
div.loginForgot {
    padding: 2vh 0 15vh 1vw;
}
