/* Import da Fonte */
@import url('https://fonts.googleapis.com/css2?family=Quando');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Componentes Globais */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Quando';
}
html {
    background-image: linear-gradient(109.6deg, #FCF7EA 11.2%, #E1C888 91.2%);
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
body {
    color: black;
    overflow: auto;
    padding: 0em;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

}
header{
    background-color: #213242;
    
}
li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
main{
    padding: 30vh 10em 10em 10em;
    min-height: 100vh;
    /* bottom: 0; */

}
h2{
  color: rgb(0, 0, 0);
    font-size: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.767);
    padding: 30px 0;  
}
h3{
    padding: 30px 0;
}
p {
    color: rgb(0, 0, 0);
    padding-bottom: 1em;
    font-size: 20px;
}
input {
    height: 4vh;
    width: 80%;
}


/* Classes globais */
.sloganSobre{
    position: relative;
    font-size: larger;
    padding: 4.5rem ;
    float: right;
    color: #fff;
}
.container02{
    background-color: #213242;
}
.navBar{
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}
.logoSobre{
    width: 21em;
    padding: 10px;
    font-size: 50%; 
}
.navMenu{
    font-family:  Quicksand;
    font-size: x-large;
    display: flex;
    color: #999;
    align-items: center;
    gap: 70px;
}
.navLink{
    transition: 0.5s ease;
}
.navLink:hover{
    color: #E3A92C;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.section-pd {
    padding-top: 230px;
}

/* -------------------------------------------------- */
/* COMPONENTES GLOBAIS (HEADER, FOOTER E NAVBAR*/
/*Competência: Felipe, Diego, David e Andrey*/
/* Componentes Globais */

.menu {
    float: left;
    height: 100%;
    margin: none;
    width:100%;
    background: #213242;
    position: fixed;
}
.menu li:hover {
    background:#3C5A74;
}
.menu ul {
    text-align: center;
    float: left;
    margin: none;
    list-style:none;
    list-style-type: none;
    background:#213242;
    padding: 0px;
    margin:0px;
}
.menu li {
    display: inline-block;
    padding: none;
    margin: none;
    height:47px;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    width:150px;
}
.menu a {
    color: #E1C888;
    text-decoration: none;
}   
.menu li a, .menu li span {
    display: inline-block;
    padding: 0em 1.5vw;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 60px;
}
.menu-superior {
    width: 100%;
    height: 100%;
}
.menu-inferior {
    width: 100%;
    height: 100%;
}
.hb {
    display: none;
}     
.slogan {
    font-family: quicksand;
    font-size: larger;
    color: #E1C888;
    position: absolute;
    top: 4em; 
    left: 30vw;
    width: 400%;
}
.olaUsuario {
    font-family: quicksand;
    color: #E1C888;
    position: absolute;
    top: 2em; 
    bottom: 0;
    right: 16em;

}
.header-main {
    background-color:#213242; 
    position: fixed; 
    width: 100%;
    z-index: 1900;
}
.header-sair {
    font-family: quicksand;
    font-style: oblique;
    color: #E1C888;
    position: absolute;
    top: 2em; 
    right: 6vw;

}
.header-cadastro {
    font-family: quicksand;
    color: #E1C888;
    position: absolute;
    top: 8em; 
    right: 6vw;
}
.header-background {
    background-color: #213242;
    position: fixed;
}
.footer-padrao {
    width: 100%;
    height: 100%;
    bottom: 0;
}
.footerInput {
    width: 90%;
    padding: 2%;
    font-size: 1.2rem;
    border-radius: 12px;
    border: none;
    /*box-shadow: 1px 1px 2px #Cf9903, -1px -1px 2px #Cf9903;*/
}
.footerFieldset {
    border: 1px dashed #517490;
    text-align: left;
    margin:2em;
    padding: 0.5em 10px;
}
.footerFieldset div li {
    width: 90%;
    padding: 2%;
    font-size: 1.2rem;
    border-radius: 12px;
    border: none;
    box-shadow: 1px 1px 2px #Cf9903, -1px -1px 2px #Cf9903;
}
.footerColor {
    background-color: #213242;
    padding: 2em;
}
.footer-p {
    color: #E1C888;
}
.footerText {
    font-size: 1.5vw;
    color: #fff;
}
.footerBtn {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 12px;
    background-color: #517490;
    color: #FCF7EA;
    margin: 5vh 0 0 0;
}
.footerBtn:hover {
    background-color: #E3A92C;
    color: #213242;
    cursor: pointer;
}
.footerImg {
    width: 21em;
    padding: 10px;
    font-size: 50%; 
}
.footer-4spc {
    padding-left: 2vw;
}
.footer-voltaTopo {
    color: #517490;
}

/* -------------------------------------------------- */
/* LOGIN */
/*Competência: Andrey e Wellington*/
/* Classes Específicas- Login */
.articleLogin {
    margin: 5vh auto 0 auto;
}
.mg-form {
    margin: 2vh 0 0 0;
}
.pd-form {
    padding: 2vh 0 0 0;
}
.fieldLogin {
    width: 80%;
    margin: 0 auto;
}
.fieldsetLogin {
    border:1px solid #213242;
    padding: 0 5vw 5vw 5vw;
}
.btn {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 12px;
    background-color: #213242;
    color: #FCF7EA;
}
.btn:hover {
    background-color: #FCF7EA;
    color: #213242;
    cursor: pointer;
}
.btnLogin {
    margin: 5vh 0 0 0;
}
.colorPrimary {
    color: #213242;
}

/* -------------------------------------------------- */
/* HOME */
/* Competência: Felipe, Diego e David*/
/* Classes Específicas- Home */

.home-texto-longo {
    font-family: Quicksand;
    font-size: 1vw;
    color: #000;
    width: 100%;
}
.home-acomodacoes-painel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 5%;
    font-size: 0;
    line-height: 0;
    word-spacing: 0;
    border: 0;
    align-self: center;
    align-items: center;
}
.home-acomodacoes {
    margin: 0;
    border-radius: 0;
    border: 0;
}
.home-imagem-link {
    padding-left: 20em;
}
.home-imagem-link img {
    width: 25vw;
    height: 18.05vw;
}
.home-nossos-servicos {
    border: #000 1px;
}
.home-sobre {
    width: 100%;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 60% 40%;
    padding-bottom: 3em;
}
.home-sobre-img {
    width: 100%;
}
.home-fit-img {
    width: 95%;
    border-radius: 2%;
}
.home-sobre-txt {
    width: 100%;
}
.home-large-img {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3em;
}
.homeNewsletter {
    padding: 2em 0;
}
.input-newsletter {
    width: 50%;
}
.button-newsletter {
    width: 30%;
}
.home-aside {
    padding: 2em 0 0 0;
}

/* -------------------------------------------------- */
/* SOBRE */
/* Competência: Felipe, Diego e David*/
/* Classes Específicas- Sobre */
.sobre-img-large {
    width: 90%;
}
.sobre-img-medium {
    width: 40%;
    margin: 0 1rem;
}
.sobre-p {
    font-size: 1.2vw;;
}
.sobre-divImg, .sobre-divImg2  {
    padding: 1.5em 0 1.5em 0;
    display:flex; 
    justify-content:space-evenly;
    flex-wrap: wrap;
    
}
.sobre-divImg2 {
    margin: 0 1rem;
}


/* -------------------------------------------------- */
/* ACOMODAÇÕES*/
/* Competência: Kelvya, Ana e Fernando*/
/* Classes Específicas- Acomodações */

.acomodacoes-saudacaoUsuario {
    height: 10%;
    margin: 1% 5% 1%;
    padding: 2%;
    text-align: right;
    display: grid;
    grid-template-columns: 90% 10%;
}
.acomodacoes-header {
    margin: 0;
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
}
.acomodacoes-logomarca {
    width: 100%;
    vertical-align: middle;
}
.acomodacoes-slogan {
    display: inline;
    font-size: 1em;
    font-weight: normal;
    color: #E1C888;
}
.acomodacoes-menuNavegacao{
    width: 100%;
    height: 10%;
}
.acomodacoes-menuNavegacao a{
    color: #E1C888;
    font-size: 0.7em;
    border: 1px solid #3C5A74;
    border-radius: 5%;
    padding: 1%;
    margin: 0;
    background-color: #213242;
}
.acomodacoes-menuNavegacao a:hover{
    background-color: #3C5A74;
    border: 1px solid #3C5A74;
    border-radius: 5%;
}
#acomodacoes-usuario, #acomodacoes-sair, #acomodacoes-cadastro{
    padding-right: 3%;
    color: #E1C888;
    text-align: right;
    font-size: 100%;
}
.acomodacoes-nossasAcomodacoes{
    font-size: 1.5em;
    color: #3C5A74;
}
main {
    padding: 1% !important;
    margin: 1% !important;
}
.acomodacoes-quartosPresidenciais,
.acomodacoes-quartosLuxo,
.acomodacoes-quartosStandart {
    margin: auto;
}
.acomodacoes-quartosPresidenciais img,
.acomodacoes-quartosLuxo img,
.acomodacoes-quartosStandart img {
    width: 30%;
    margin: auto;
    padding: 0.5%;
    border-radius: 10%;
    filter: opacity(.5);
}
.acomodacoes-quartosPresidenciais img:hover, .acomodacoes-quartosLuxo img:hover, .acomodacoes-quartosStandart img:hover{
    filter: none;
    transform: translateY(-12%);
    transition: 0.4s ease-out;
}
.acomodacoes-produtoEmDestaque{
    margin: 3% 0 2% 0;
    padding: 2%;
    font-size: 23px;
    color: #3C5A74;
}
.acomodacoes-containerProdutosEmDestaque {
    display: grid;
    grid-template-columns: 60% 40%;
}
.acomodacoes-paragrafoProdutosEmDestaque {
    width: 100%;
    margin: 0 0 0 2%;
    padding: 2%;
    font-size: 16px;
    justify-content: left;
    color: #517490;
}
.acomodacoes-containerProdutosEmDestaque video{
    width: 100%;
    padding: 2%;
    border-radius: 12%;
}

/* -------------------------------------------------- */
/* RESERVAS */
/* Competência: Fernando*/
/* Classes Específicas- Reservas */

 /* ESTILO RESERVA */
    
 .myReservation h2{
    margin-top: 9.5em;
    margin-left: 0.5em;
}

.myReservation hr{
    margin-bottom: 2em;
}

.myReservation p:nth-of-type(1), .myReservation p:nth-of-type(2){
    margin: 1em 0;
}

.inputBox{
    display: flex;
    width: 80%;
    gap: 1em;
}

.myReservationUl li{
    width: 100%;
}

.myReservation span ul{
    margin-left: 0.5em;
}
fieldset {
    border: none;
}

/* ESCOLHA DE QUARTOS */
.roomChoice .roomDiv img {
    width: 200px;
    max-height: 125px;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.roomChoice>.roomDiv {
    margin-bottom: 0.5em;
    display: flex;
}
.roomChoice h3 {
    padding: 0;
    margin: 0;
}

.roomChoice .roomDiv p {
    width: 80%;
    margin-top: 0.5em;
    font-size: 0.8em;
    text-align: justify;
    padding: 0;
}
.roomChoiceSection {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.roomChoice .roomDiv .price {
    margin-top: 1em;
    font-weight: 700;
}

/* RESUMO DE RESERVA */

.bookingSummaryContainer{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 0 1em 0 0.5em;
    height: 70%;
    max-height: 650px;
    min-width: 380px;
}

.bookingSummary {
    width: 65%;
    height: 400px;
    margin: auto 2em;
    min-width: 323.45px;
}

.bookingSummary .bookingSummaryData {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em 0 2em 0.5em;
    margin-bottom: 0.5em;
}

.bookingSummaryData span:nth-child(1), .bookingSummaryData span:nth-child(3){
    padding-bottom: 0.5em;
}

.addFeatures a{
    text-decoration: underline;
    color: black;
}


/* ESTILO BOTÃO RADIO */
.radioRoomChoice {
    width: 1em;
    margin-right: 0.3em;
    vertical-align: middle;
}

.radioContainer span{
    font-size: 0.8rem;
}


/* ESTILO DO BOTÃO */

.bookingSummaryContainer .bookingSummaryButton{
    display: flex;
    margin: 0;
    justify-content: right;
}
.bookingSummary button {
    background-image: linear-gradient(to right, #E1C888 0%, #e3c25f  51%, #e6ae60  100%);
    padding: 0.3em;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(89, 87, 87);            
    border-radius: 20%;
    display: block;
}

.bookingSummary button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #000;
    text-decoration: none;
}
     

.footerPRserva {
    margin-top: 20px;
    padding-right: 0 1em;
    width: 100%;
}


/* -------------------------------------------------- */
/* CONTATO */
/* Competência: Wellington e Felipe*/
/* Classes Específicas- Home */

.contato-responsivo {
    height: 140%;
    width: 100%;
    align-items: center;
}
.contato-estiloForm {
    align-items: center;
}
.contato-li {
    padding: 0.5em 0em 1.5em 2em;
}
.contato-legenda {
    color: #213242;
    font-size: 18px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.767);
    padding: 30px 0;  
}
.contato-layout{
    width: 650px;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 0 1em 0 0.5em;
    height: 70%;
    max-height: 650px;
    min-width: 380px;

}
.contato-button {
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 12px;
    background-color: #213242;
    color: #FCF7EA;
    margin: 5vh 0 0 0;
}
.contato-button:hover {
    background-color: #E3A92C;
    color: #213242;
    cursor: pointer;
}
.contato-div-button {
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------------- */
/* MEDIA RESPONSIVA*/
/*Competência: Felipe, David e Andrey */

@media(max-width:916px) {
    .main-right {
        display: none;
    }
    .main-left {
        width: 100%;
        padding-left: 0;
        height: unset;
        margin-top: 50px;
    }
    .wraper {
        margin: 0 auto;
        max-width: 443px;
    }
    .slogan {
        left: 25vw;
    }
    .home-sobre {
        grid-template-columns: 100%;
    }
    .home-sobre-img {
        width: 95%;
        display: flex;
        justify-content: center;
        margin: 2em auto;
    }
    .home-fit-img {
        margin: auto;
    }
    .home-sobre-txt {
        width: 95%;
        margin: 0 auto;
    }
    .home-texto-longo {
        font-size: 2vw;        
    }
    .footer-p {
        font-size: 2vw;
    }
    .footer-voltaTopo {
        font-size: 2vw;
    }
    ::placeholder {
    font-size: 1.4vw;
}

    /* RESPONSIVIDADE RESERVAS */
    .inputBox{
        flex-direction: column;
        width: 100%;
    }
    
    .inputBox input{
        width: 50%;
        min-width: 300px;
    }

    .bookingSummaryContainer{
        text-align: center;
        margin: 2em 0;
        width: 100%;
    }

    .roomChoiceSection {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .roomDiv div{
        margin: 0 1em;
        padding: 0;
    }

    .roomChoice .roomDiv p {
        width: 100%;
        margin-top: 0.5em;
        font-size: 0.8em;
        text-align: justify;
        padding-right: 3em;
    }

    .bookingSummaryContainer{
        justify-content: left;
        border: none;
        margin: 0 1em 0 0.5em;
        height: 100%;
        max-height: none;
        min-width: none;
    }

    .bookingSummary{
        padding: 0 2em;
        border: 1px solid black
    }

    .bookingSummaryContainer{
        margin-top: 1em;
        justify-content: center;
    }
}

@media (max-width:768px){
    /* .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    } */
    .navMenu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #213242;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .logo {
        position: absolute;
        top: 1.5em;
        width: 110px;
    }
    .slogan {
        top:5em;
        left: 20vw;
        font-size: medium;
    }
    .navItem{
        margin: 16px 8;
    }
    .navMenu.active{
        left: 0;
    }
    .sobre-p {
        font-size: 1.6vw;;
    }
    .btn {
        padding: 0.5rem 1rem;
    }
    .pd-form {
        padding: 0.5vh 0;
    }
    .footertd01 {
        width: 40%;
    }
    .footertd02 {
        width: 60%;
    }
    .footer-p {
        font-size: 2.5vw;
    }
    .footer-voltaTopo {
        font-size: 2.5vw;
    }
    ::placeholder {
    font-size: 1.5vw;
}
    /* RESPONSIVIDADE RESERVAS */

    .inputBox{
        align-items: center;
    }

    .myReservation p:nth-of-type(1), .myReservation p:nth-of-type(2){
        text-align: center;
    }

    .roomChoice{
        justify-items: center;
    }

    .roomChoice>.roomDiv{
        flex-direction: column;
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .roomDiv{
        width: 100%;
    }
    .roomDiv h3{
        margin: 0.5em 0;
    }

    .roomDiv div{
        text-align: center;
        margin: 0;
        margin-bottom: 0.5em;
        padding: 1em;
    }

    .roomChoice .roomDiv .price{
        text-align: center;
    }

    .roomChoice .roomDiv p{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .radioContainer{
        border-bottom: 1px solid black;
    }

    .bookingSummaryContainer{
        margin: 0;
        margin-top: 1em;
        justify-content: center;
        width: 100%;
        min-width: 100px;
    }

}

@media(max-width:650px) {
    .main {
        border: 0;
        background-color: unset;
    }
    .slogan {
        top:4em;
        left: 30vw;
        width: 270px;
    }
    .olaUsuario {
        right: 12.7em;
    }
    .menu li a {
        padding: 0em 1.0vw;
        font-size: 2.6vw;
    }
    .home-acomodacoes-painel {
        display: list-item;
    }
    .home-acomodacoes {
        padding-bottom: 5%;
    }
    .home-imagem-link img {
        width: 100%;
        height: 100%;
    }
    .home-fit-img {
        width: 100%;
    }
    .homeNewsletter label {
        font-size: 3vw;
    }
    .input-newsletter {
        width: 60%;
    }
    .button-newsletter {
        width: 45%;
    }
    .sobre-p {
        font-size: 2vw;;
    }
    .sobre-divImg2 img {
        width: 90%;
    }
    .footertd01 {
        width: 25%;
    }
    .footertd02 {
        width: 75%;
    }
    .footerText {
        font-size: 2vw;
    }
    .menu-inferior ul {
        display: none;
        height: 0;
    }
}

/* Smartphones - Retrato */
@media (max-width: 415px) {
    .slogan {
        display: none;
    }
    .header-cadastro {
        display: none;
    }
    .olaUsuario {
        right: 6vw;
    }
    .header-sair {
        top: 4em;
    }
    .menu ul {
        display: none;
    }
    .hb {
        display: inline-block;
        position: fixed;
    }
    .menu-hb-icon {
        position: absolute;
        top: 1em;
        left: 3vw;
        color: #E1C888;
        cursor: pointer;
    }
    .input-newsletter {
        width: 80%;
    }
    .button-newsletter {
        width: 60%;
    }
    .sobre-p {
        font-size: 2.5vw;;
    }
    .footerText {
        font-size: 2.5vw;
    }
    .footerBtn {
        padding: 0.5rem 1rem;
    }
    ::placeholder {
        font-size: 0;
    }

    /* RESPONSIVIDADE RESERVAS */
}