// FONTES
$fonte-quando: "Quando";
$fonte-quiscksand: "Quicksand";

// CORES
$cor-azul-escuro: #213242;
$cor-azul-medio: #3c5a74;
$cor-azul-claro: #517490;
$cor-dourado-medio: #e3a92c;
$cor-dourado-escuro: #cf9903;
$cor-bege: #e1c888;
$cor-background: #fcf7ea;

// BACKGROUNDS - IMAGE
$bg--img-background1: url(../../images/background/background-1.png);
$bg--img-background2: url(../../images/background/background-2.png);
$bg--img-background3: url(../../images/background/background-3.png);
$bg--img-background4: url(../../images/background/background-4.png);

// BACKGROUNDS - GRADIENT:
$bg--gradient: linear-gradient(109.6deg, #fcf7ea 11.2%, #e1c888 91.2%);

// LOGOS
$img--logo--azul-escuro: url(../../images/logo/logo--azul-escuro.png);
$img--logo--azul-medio: url(../../images/logo/logo--azul-medio.png);
$img--logo--azul-claro: url(../../images/logo/logo--azul-claro.png);
$img--logo--dourado-escuro: url(../../images/logo/logo--dourado-escuro.png);
$img--logo--dourado-medio: url(../../images/logo/logo--dourado-medio.png);
$img--logo--bege: url(../../images/logo/logo--bege.png);
$img--logo--preta: url(../../images/logo/logo--preta.png);
$img--logo--branca: url(../../images/logo/logo--branca.png);

// IMAGENS - ACOMODAÇÕES (P, L, S)
$img--acomodacoes-p1: url(../../images/acomodacoes/acomodacoes-presidencial-1.png);
$img--acomodacoes-p2: url(../../images/acomodacoes/acomodacoes-presidencial-2.png);
$img--acomodacoes-p3: url(../../images/acomodacoes/acomodacoes-presidencial-3.png);
$img--acomodacoes-l1: url(../../images/acomodacoes/acomodacoes-luxo-1.png);
$img--acomodacoes-l2: url(../../images/acomodacoes/acomodacoes-luxo-2.png);
$img--acomodacoes-l3: url(../../images/acomodacoes/acomodacoes-luxo-3.png);
$img--acomodacoes-s1: url(../../images/acomodacoes/acomodacoes-standard-1.png);
$img--acomodacoes-s2: url(../../images/acomodacoes/acomodacoes-standard-2.png);
$img--acomodacoes-s3: url(../../images/acomodacoes/acomodacoes-standard-3.png);

$img--pacote-lm1: URL(../../images/pacote-lm/pacote1-beneficio1.png);
$img--pacote-lm2: URL(../../images/pacote-lm/pacote1-beneficio2.png);
$img--pacote-lm3: URL(../../images/pacote-lm/pacote1-beneficio3.png);
$img--pacote-lm4: URL(../../images/pacote-lm/pacote1-beneficio4.png);
$img--pacote-lm5: URL(../../images/pacote-lm/pacote1-beneficio5.png);

// MARGEM
$m1: 1rem;
$mx1: 0 0.5rem;

// PADDING
$p1: 1rem;
$px1: 0 1.5rem;

//VARIAVEIS PARA ADICIONAR

$cor-azul-transparente: rgba(33, 50, 66, 0.7);
