@use "variaveis" as v;
@use "mixins" as mx;

.border0{
  border: 5px solid red;
}

.list-style{
  list-style: none;
}
.header--container {
  background-image: mx.bg-background(v.$bg--img-background1);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: v.$cor-bege;
  text-shadow: 1px 1px 1px rgba(1, 1, 8, 0.6);
}

.header--container2 {
  width: 70%;

  &-container {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  &-item {
    padding: v.$p1;
  }

  &-link {
    color: v.$cor-bege;
  }
}

.alinhamento {
  justify-content: flex-start;
  text-align: start;
}

.esconder{
  display: none;
}

.centralizar{
  text-align: center;
  align-items: center;
}

.p-top{
  padding: 1rem 0 0 0;
}

.imagem-padrao{
  margin: 1.5rem;
  width: 90%;
}

.margem-padrao{
  margin: 1rem 1rem;
}

.link-pequeno{
  font: v.$fonte-quiscksand;
  color: v.$cor-azul-escuro;
  text-decoration: none;
}

.btn-primario{
  @include mx.btn-primario;
}

.btn-padrao{
  background-color: v.$cor-azul-escuro;
  border: none;
  box-shadow: 3px 1px 8px white inset;
  border-radius: 20px;
  width: 30%;
  height: 3rem;
  margin: 1rem 1rem;
  
}

.btn-texto{
  color: white;
  font: v.$fonte-quiscksand;
  text-align: center;
  font-size: 1vw;
}

.borda-padrao{
  margin: 3rem;
  padding: v.$p1;
  @include mx.borda-padrao;
}

.borda-primaria{
  margin: 5vw 30vw;
  @include mx.borda-padrao;

}

.box-padrao{
  background-color: rgba(225, 200, 136, 0.7);
  width: 52%;
  padding: 3%;
  margin-left: 1.8rem;
  text-align: start;
}

.display-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.flex-wrap{
  display: block;
  flex-wrap: wrap;
}

.input-padrao{
  @include mx.input-padrao;
}

.margin-padrao{
  padding: 0.5rem;
}

.margin-left{
  margin: v.$mx1;
}

.link-padrao{
  @include mx.p-primario;
  &:hover{
    color: v.$cor-dourado-escuro;
  }
  text-decoration: none;
}



.header--logo {
  background: v.$img--logo--bege no-repeat transparent;
  background-size: 100%;
  width: 100px;
  height: 100px;
  padding: 0 0 0 0;
  margin: 20px;
  font: "Quicksand";
  letter-spacing: 0;
}

.home--large-img{
  padding-left: 0.5rem;
}

.home--large-img span{
  font-size: 2rem;
}

.home--fit-img{
  width: 400px;
  height: 300px;
  border: 1px solid v.$cor-azul-escuro;
  border-radius: 30px;
}

.global-bg-azul {
  background-color: v.$cor-azul-escuro;
}

.color--bege {
  color: v.$cor-bege !important;
}

.nav-link {
  color: v.$cor-bege;

  &:hover {
    color: v.$cor-dourado-escuro;
  }
}

/*---------------
* RESERVAS
*---------------
*/

.resumo-reserva{
  height: 35rem;
  padding: 15vh 5vh 15vh 5vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/*---------------
* ACOMODAÇÕES
*---------------
*/

.h2-primario {
  @include mx.h2-primario;
}

.p-primario {
  @include mx.p-primario;
}

.p-secundario {
  @include mx.p-secundario;
}

.h2-secundario {
  @include mx.h2-secundario;
}

.h3-primario {
  @include mx.h3-primario;
}

.h3-secundario {
  @include mx.h3-secundario;
}

.acomodacoes {
  @include mx.box;
  @include mx.flex-center;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0.5rem 1rem 0.5rem 0.5rem;

  &--card {
   @include mx.card-padrao;
   height: 60vh;

    &:hover {
      box-shadow: 8px 8px 10px v.$cor-azul-medio;
    }
  }
}

@media (max-width: 1170px) {
  .acomodacoes,
  .acomodacoes--card {
    flex-flow: column;
    min-width: 90%; 
  }
}

/*HOME*/
.home--banner {
  background-image: mx.bg-background(v.$bg--img-background4);
  background-size: 100%;
  height: 30rem;
  background-repeat: no-repeat;
}

.home--sobre {
  @include mx.box;

  &-flex{
    @include mx.flex-center;
  }

  &-fit-img {
    width: 30vw;
    margin: v.$mx1;
    padding-left: v.$p1;
  }
  &-txt{
    padding: v.$px1;
  }
  &-texto-longo{
    font-size: 1.6rem;
  }
}

.home--gastronomia {
  display: inline-block;

  &-texto{
    margin-right: 1.5rem;
    float: left;
    font-size: 1.3rem;

}

  &-img{
    margin-left: 200px;
    float: right;
    width: 600px;
    height: 500px;
    
    
  }
}

@media (max-width: 1170px){
  .home--sobre{
    min-width: 768px;
    width: 95%;
    &-flex{
      flex-flow: column;
    }
    &-img{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    &-fit-img{
      width: 50%;
    }
    &-txt{
      padding: 0 0.5rem;
      padding-top: v.$p1;
    }
  }
}

@media (max-width: 1170px){
  .display-grid{
    display: inline-block;
    
  }
  
  .resumo-reserva{
    display: inline-block;
    width: 80%;
    height: 35rem;
  }

  .btn-padrao{
    width: 80%;
  }

  .btn-beje{
    @include mx.btn-primario;
  }

  .btn-texto{
    font-size: larger;
  }
}